// src/styles/globals.scss
@use 'variables';
@use 'reset';
@use 'mixins';
@use 'animations';

/* Импорт шрифтов */
@font-face {
  font-family: 'NeueMachina-Bold';
  font-display: swap;
  src: url('../assets/fonts/MabryPro-Bold.woff2') format('woff2'),
       url('../assets/fonts/MabryPro-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'NeueMachina-Medium';
  font-display: swap;
  src: url('../assets/fonts/MabryPro-Medium.woff2') format('woff2'),
       url('../assets/fonts/MabryPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'NeueMachina-Light';
  font-display: swap;
  src: url('../assets/fonts/MabryPro-Light.woff2') format('woff2'),
       url('../assets/fonts/MabryPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'NeueMachina-Regular';
  font-display: swap;
  src: url('../assets/fonts/MabryPro-Regular.woff2') format('woff2'),
       url('../assets/fonts/MabryPro-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

html,
body {
	scroll-behavior: smooth;
}

body {
	overflow-y: overlay;
	background-color: variables.$white;
	background-repeat: repeat;
	background-repeat: no-repeat;
	max-width: 100%;
	background-blend-mode: hard-light;
	position: relative;
	width: 100%;
	height: 100%;
	color: variables.$black;
	border: none !important;
	border-style: none !important;
	background-attachment: fixed;
	background-size: cover;
	display: flex;
	flex-direction: column;
	min-height: 100%;

	/* width */
	&::-webkit-scrollbar {
		width: 10px;
	}

	/* Track */
	&::-webkit-scrollbar-track {
		background: transparent;
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		background: variables.$primary-color;
	}

}
/* Основные стили приложения */
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}



/* Классы для секций */
.section {
  padding: variables.$spacing-3xl 0;
  
  @media (max-width: variables.$breakpoint-xl) {
    padding: variables.$spacing-2xl 0;
  }
  
  @media (max-width: variables.$breakpoint-md) {
    padding: variables.$spacing-xl 0;
  }
}

.section-light {
  background-color: variables.$light-gray;
}

.section-dark {
  background-color: variables.$dark-gray;
  color: variables.$white;
}


/* Классы для отладки */
.debug {
  border: 1px solid red;
}

.debug > * {
  border: 1px solid green;
}

.debug > * > * {
  border: 1px solid blue;
}