@use '@/styles/variables' as *;

.heroSection {
  height: 100dvh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: $primary-color;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  
  @media (max-width: $breakpoint-lg) {
    height: 750px;
  }
  
  @media (max-width: $breakpoint-md) {
    height: 700px;
    padding-top: 120px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-bottom-left-radius: $border-radius-md;
    border-bottom-right-radius: $border-radius-md;
  }
  
  @media (max-width: $breakpoint-sm) {
    height: 100dvh;
  }
}

.goToSec2 {
  border-radius: $border-radius-full;
  height: 50px;
  aspect-ratio: 1;
  border: 1px solid $text-light;
  display: grid;
  place-items: center;
  position: absolute;
  bottom: $spacing-2xl;
  cursor: pointer;
  transition: transform $transition-normal;
  z-index: 2;
  
  
  svg {
    transition: transform $transition-normal;
  }
  
  &:hover svg {
    transform: translateY(3px);
  }
}

.heroBg {
  position: absolute;
  bottom: 0;
  right: -50px;
  max-width: 50%;
  z-index: 1;
  
  @media (max-width: $breakpoint-lg) {
    display: none;
  }
}

.centBlock {
  position: relative;
  z-index: 2;
  color: $text-light;
  transition: all $transition-normal;
  
  &.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 $spacing-md;
  }
}

.pointsCont {
  margin-bottom: $spacing-xl;
  display: flex;
  align-items: center;
  gap: $spacing-xl;
  
  @media (max-width: $breakpoint-md) {
    flex-direction: column;
    align-items: flex-start;
    gap: $spacing-lg;
    margin-bottom: $spacing-lg;
  }
}

.point {
  display: flex;
  align-items: center;
  gap: $spacing-sm;
  font-family: $font-family-base;
  font-size: $font-size-lg;
  
  @media (max-width: $breakpoint-sm) {
    font-size: $font-size-sm;
  }
}

.svgC {
  height: 25px;
  aspect-ratio: 1;
  background-color: $primary-light;
  border-radius: $border-radius-full;
  display: grid;
  place-items: center;
  flex-shrink: 0;
}

.secTitle {
  width: 10em;
  
  @media (max-width: $breakpoint-md) {
    width: 100%;
  }
}

.subTitle {
  margin-bottom: $spacing-2xl;
  width: 32.5em;
  font-size: $font-size-lg;
  line-height: 1.4;
  font-family: $font-family-base;
  
  @media (max-width: $breakpoint-sm) {
    width: 100%;
    font-size: $font-size-base;
    margin-bottom: $spacing-xl;
  }
}

.buttonWrapper {
  position: relative;
  display: inline-block;
}


