@use '@/styles/variables' as *;

.title {
  font-family: $font-family-base;
  line-height: 1;
  color: $text-dark;
  margin-bottom: 10px;
  // Стили для span внутри заголовка
  span {
    color: var(--span-color, $primary-color);
  }
  
  // Варианты размеров по умолчанию для разных уровней
  &.level1 {
    font-size: $font-size-7xl;
    margin-bottom: 30px;
  }
  
  &.level2 {
    font-size: $font-size-6xl;
    margin-bottom: 30px;
  }
  
  &.level3 {
    font-size: $font-size-4xl;
    margin-bottom: 20px;
  }
  
  &.level4 {
    font-size: $font-size-3xl;
    margin-bottom: 20px;
  }
  
  &.level5 {
    font-size: $font-size-2xl;
    margin-bottom: 15px;
  }
  
  &.level6 {
    font-size: $font-size-xl;
    margin-bottom: 15px;
  }
  
  @media (max-width: $breakpoint-md) {
    &.level1 {
      font-size: $font-size-6xl;
    }
    
    &.level2 {
      font-size: $font-size-5xl;
    }
    
    &.level3 {
      font-size: $font-size-3xl;
    }
    
    &.level4 {
      font-size: $font-size-2xl;
    }
    
    &.level5 {
      font-size: $font-size-xl;
    }
    
    &.level6 {
      font-size: $font-size-lg;
    }
  }
}